<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      A3K
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    
    
   <!--  <ion-button [ngSwitch]="graph">Graph</ion-button> -->
      <ion-button  routerLink="/graph" routerDirection="forward" >
        Graphique
      </ion-button>

      <h2> scan_html  </h2>
   <!--  <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
