<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asthme 3000</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    
   <!--  <ion-button [ngSwitch]="graph">Graph</ion-button> -->
      <ion-button expand="block" routerLink="/graph" routerDirection="forward" >
        Se connecter
      </ion-button>

   <!--  <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
