<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Retour"></ion-back-button>


      
    </ion-buttons>


           <ion-buttons slot="primary">
             <ion-button >
               <ion-icon  slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
             </ion-button>
           </ion-buttons>

    <ion-title>graph</ion-title>

            
             

  </ion-toolbar>
</ion-header>



<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 

    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-label>
          <h2>DUST PPM</h2>
        </ion-label>
        <ion-label color="medium">
          <h6>Le taux max est de : 2000 PPM</h6>
        </ion-label>
      </ion-label>
      <ion-note slot="end" color="success">{{DUST_PPM_HTML}} PPM</ion-note>
    </ion-item>


       <ion-item>
         <ion-label class="ion-text-wrap">
           <ion-label>
             <h2>SMOKE PPM</h2>
           </ion-label>
           <ion-label color="medium">
             <h6>Le taux max est de : 750 PPM</h6>
           </ion-label>
         </ion-label>
         <ion-note slot="end" color="danger">{{SMOKE_PPM_HTML}} PPM</ion-note>
       </ion-item>





  <!--     <ion-label color="primary">Primary Label</ion-label>
    <ion-label color="secondary">Secondary Label</ion-label>
    <ion-label color="danger">Danger Label</ion-label>
    <ion-label color="light">Light Label</ion-label>
    <ion-label color="dark">Dark Label</ion-label>
 -->




<ion-button ion-button (click)="presentModal()">Open Modal</ion-button>
  <ion-button (click)="updateData()">Update</ion-button>
  <p>{{  result }}</p>
  <p>{{  a3km }}</p>

  <ion-progress-bar [value]="this.score.slice(-1)[0] /10000 " buffer="0.5"></ion-progress-bar>

  <div>

    <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
      [legend]="true" (chartClick)="onChartClick($event)">
    </canvas>

  </div>
</ion-content>